*.smx
.vscode/*
*.bsp
*.zip
*.exe
addons/sourcemod/scripting/GlobalAPI-Logging-Flatfile.sp
addons/sourcemod/scripting/GlobalAPI-Retrying-Binary.sp
addons/sourcemod/scripting/GlobalAPI.sp
addons/sourcemod/scripting/GlobalAPI/api/convars.sp
addons/sourcemod/scripting/GlobalAPI/api/forwards.sp
addons/sourcemod/scripting/GlobalAPI/api/natives.sp
addons/sourcemod/scripting/GlobalAPI/commands.sp
addons/sourcemod/scripting/GlobalAPI/http/forwards.sp
addons/sourcemod/scripting/GlobalAPI/http/get.sp
addons/sourcemod/scripting/GlobalAPI/http/post.sp
addons/sourcemod/scripting/GlobalAPI/misc.sp
addons/sourcemod/scripting/include/admin.inc
addons/sourcemod/scripting/include/adminmenu.inc
addons/sourcemod/scripting/include/adt.inc
addons/sourcemod/scripting/include/adt_array.inc
addons/sourcemod/scripting/include/adt_stack.inc
addons/sourcemod/scripting/include/adt_trie.inc
addons/sourcemod/scripting/include/banning.inc
addons/sourcemod/scripting/include/basecomm.inc
addons/sourcemod/scripting/include/bitbuffer.inc
addons/sourcemod/scripting/include/blindhook.inc
addons/sourcemod/scripting/include/botattackcontrol.inc
addons/sourcemod/scripting/include/botmimic.inc
addons/sourcemod/scripting/include/bTimes-core.inc
addons/sourcemod/scripting/include/bTimes-ghost.inc
addons/sourcemod/scripting/include/bTimes-random.inc
addons/sourcemod/scripting/include/bTimes-ranks.inc
addons/sourcemod/scripting/include/bTimes-teams.inc
addons/sourcemod/scripting/include/bTimes-timer.inc
addons/sourcemod/scripting/include/bTimes-zones.inc
addons/sourcemod/scripting/include/clientprefs.inc
addons/sourcemod/scripting/include/clients.inc
addons/sourcemod/scripting/include/colorlib.inc
addons/sourcemod/scripting/include/colorlib_map.inc
addons/sourcemod/scripting/include/commandfilters.inc
addons/sourcemod/scripting/include/commandline.inc
addons/sourcemod/scripting/include/console.inc
addons/sourcemod/scripting/include/convars.inc
addons/sourcemod/scripting/include/core.inc
addons/sourcemod/scripting/include/crossfire.inc
addons/sourcemod/scripting/include/csgocolors_fix.inc
addons/sourcemod/scripting/include/cstrike.inc
addons/sourcemod/scripting/include/datapack.inc
addons/sourcemod/scripting/include/dbi.inc
addons/sourcemod/scripting/include/dhooks.inc
addons/sourcemod/scripting/include/eItems.inc
addons/sourcemod/scripting/include/entity.inc
addons/sourcemod/scripting/include/entity_prop_stocks.inc
addons/sourcemod/scripting/include/events.inc
addons/sourcemod/scripting/include/files.inc
addons/sourcemod/scripting/include/float.inc
addons/sourcemod/scripting/include/functions.inc
addons/sourcemod/scripting/include/geoip.inc
addons/sourcemod/scripting/include/halflife.inc
addons/sourcemod/scripting/include/handles.inc
addons/sourcemod/scripting/include/helpers.inc
addons/sourcemod/scripting/include/keyvalues.inc
addons/sourcemod/scripting/include/lang.inc
addons/sourcemod/scripting/include/logging.inc
addons/sourcemod/scripting/include/mapchooser.inc
addons/sourcemod/scripting/include/menus.inc
addons/sourcemod/scripting/include/nextmap.inc
addons/sourcemod/scripting/include/profiler.inc
addons/sourcemod/scripting/include/protobuf.inc
addons/sourcemod/scripting/include/PTaH.inc
addons/sourcemod/scripting/include/regex.inc
addons/sourcemod/scripting/include/ripext.inc
addons/sourcemod/scripting/include/ripext/http.inc
addons/sourcemod/scripting/include/ripext/json.inc
addons/sourcemod/scripting/include/scp.inc
addons/sourcemod/scripting/include/sdkhooks.inc
addons/sourcemod/scripting/include/sdktools.inc
addons/sourcemod/scripting/include/sdktools_client.inc
addons/sourcemod/scripting/include/sdktools_engine.inc
addons/sourcemod/scripting/include/sdktools_entinput.inc
addons/sourcemod/scripting/include/sdktools_entoutput.inc
addons/sourcemod/scripting/include/sdktools_functions.inc
addons/sourcemod/scripting/include/sdktools_gamerules.inc
addons/sourcemod/scripting/include/sdktools_hooks.inc
addons/sourcemod/scripting/include/sdktools_sound.inc
addons/sourcemod/scripting/include/sdktools_stocks.inc
addons/sourcemod/scripting/include/sdktools_stringtables.inc
addons/sourcemod/scripting/include/sdktools_tempents.inc
addons/sourcemod/scripting/include/sdktools_tempents_stocks.inc
addons/sourcemod/scripting/include/sdktools_trace.inc
addons/sourcemod/scripting/include/sdktools_variant_t.inc
addons/sourcemod/scripting/include/sdktools_voice.inc
addons/sourcemod/scripting/include/sendproxy.inc
addons/sourcemod/scripting/include/smlib/arrays.inc
addons/sourcemod/scripting/include/smlib/clients.inc
addons/sourcemod/scripting/include/smlib/colors.inc
addons/sourcemod/scripting/include/smlib/concommands.inc
addons/sourcemod/scripting/include/smlib/convars.inc
addons/sourcemod/scripting/include/smlib/crypt.inc
addons/sourcemod/scripting/include/smlib/debug.inc
addons/sourcemod/scripting/include/smlib/dynarrays.inc
addons/sourcemod/scripting/include/smlib/edicts.inc
addons/sourcemod/scripting/include/smlib/effects.inc
addons/sourcemod/scripting/include/smlib/entities.inc
addons/sourcemod/scripting/include/smlib/files.inc
addons/sourcemod/scripting/include/smlib/game.inc
addons/sourcemod/scripting/include/smlib/general.inc
addons/sourcemod/scripting/include/smlib/math.inc
addons/sourcemod/scripting/include/smlib/menus.inc
addons/sourcemod/scripting/include/smlib/server.inc
addons/sourcemod/scripting/include/smlib/sql.inc
addons/sourcemod/scripting/include/smlib/strings.inc
addons/sourcemod/scripting/include/smlib/teams.inc
addons/sourcemod/scripting/include/smlib/vehicles.inc
addons/sourcemod/scripting/include/smlib/weapons.inc
addons/sourcemod/scripting/include/smlib/world.inc
addons/sourcemod/scripting/include/sorting.inc
addons/sourcemod/scripting/include/sourcemod.inc
addons/sourcemod/scripting/include/string.inc
addons/sourcemod/scripting/include/surftimer.inc
addons/sourcemod/scripting/include/testing.inc
addons/sourcemod/scripting/include/textparse.inc
addons/sourcemod/scripting/include/tf2.inc
addons/sourcemod/scripting/include/tf2_stocks.inc
addons/sourcemod/scripting/include/timers.inc
addons/sourcemod/scripting/include/topmenus.inc
addons/sourcemod/scripting/include/trikz_solid.inc
addons/sourcemod/scripting/include/usermessages.inc
addons/sourcemod/scripting/include/vector.inc
addons/sourcemod/scripting/include/version.inc
addons/sourcemod/scripting/include/version_auto.inc
addons/sourcemod/scripting/include/zones-core.inc
addons/sourcemod/scripting/me.sp
addons/sourcemod/scripting/include/dhooks.inc
addons/sourcemod/scripting/include/dhooks.inc
addons/sourcemod/scripting/include/dhooks.inc
addons/sourcemod/.vscode/settings.json
addons/sourcemod/gamedata/me.games.txt
addons/sourcemod/scripting/compile.dat
addons/sourcemod/scripting/include/dhooks.inc
addons/sourcemod/scripting/include/base64.inc
addons/sourcemod/scripting/include/dhooks.inc
addons/sourcemod/scripting/include/dhooks_macros.inc
addons/sourcemod/scripting/include/json_mhud.inc
addons/sourcemod/scripting/include/json_mhud/array.inc
addons/sourcemod/scripting/include/json_mhud/definitions.inc
addons/sourcemod/scripting/include/json_mhud/helpers/decode.inc
addons/sourcemod/scripting/include/json_mhud/helpers/metastringmap.inc
addons/sourcemod/scripting/include/json_mhud/helpers/string.inc
addons/sourcemod/scripting/include/json_mhud/helpers/typedstringmap.inc
addons/sourcemod/scripting/include/json_mhud/helpers/unicode.inc
addons/sourcemod/scripting/include/json_mhud/object.inc
addons/sourcemod/scripting/include/movementhud.inc
addons/sourcemod/scripting/include/movementhud/builtins.inc
addons/sourcemod/scripting/include/movementhud/helpers.inc
addons/sourcemod/scripting/include/movementhud/preference-bool.inc
addons/sourcemod/scripting/include/movementhud/preference-enum.inc
addons/sourcemod/scripting/include/movementhud/preference-rgb.inc
addons/sourcemod/scripting/utils.sp
addons/sourcemod/scripting/include/movementhud/preference-xy.inc
addons/sourcemod/scripting/include/ripext.inc
addons/sourcemod/scripting/include/ripext.inc
addons/sourcemod/scripting/include/smjansson.inc
addons/sourcemod/scripting/movementapi.sp
addons/sourcemod/scripting/movementapi/forwards.sp
addons/sourcemod/scripting/movementapi/hooks.sp
addons/sourcemod/scripting/movementapi/natives.sp
addons/sourcemod/scripting/movementapi/stocks.sp
addons/sourcemod/scripting/movementhud.sp
addons/sourcemod/scripting/movementhud/api/forwards.sp
addons/sourcemod/scripting/movementhud/api/natives.sp
addons/sourcemod/scripting/movementhud/commands.sp
addons/sourcemod/scripting/movementhud/elements/indicators.sp
addons/sourcemod/scripting/movementhud/elements/keys.sp
addons/sourcemod/scripting/movementhud/elements/speed.sp
addons/sourcemod/scripting/movementhud/movement.sp
addons/sourcemod/scripting/movementhud/preferences_chatinput.sp
addons/sourcemod/scripting/movementhud/preferences.sp
addons/sourcemod/scripting/movementhud/preferences_code.sp
addons/sourcemod/scripting/movementhud/preferences_defaults.sp
addons/sourcemod/scripting/movementhud/preferences_menu.sp
addons/sourcemod/scripting/movementhud/utils.sp
addons/sourcemod/scripting/nightvision.sp
addons/sourcemod/scripting/reporter.sp
addons/sourcemod/scripting/showplayerclips.sp
addons/sourcemod/scripting/showtriggers.sp
addons/sourcemod/scripting/spc/methodmaps.sp
